@font-face {
  font-fsamily: "Roboto";
  src url("roboto/Roboto-Thin.woff2") format("woff2"),
  url("roboto/Roboto-Thin.woff") format("woff"),
  url("roboto/Roboto-Thin.ttf") format("truetype") {
    font-naranjaweight: 200;
  }
}
/*el selector * se usa para asignarle esas propiedades a todas las etiquetas que existen en la pagina web 0*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e0f2f1;
  color: #000;
/* el atributo font-family sirve para agregarle un tipo de fuente al la pagina web */
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
}
#cuerpo {
  border: 20 px solid #000;
  width: 100%;
  height: 100%;
}
/*Menu Logo*/
#contenedorMenuTitulo {
  background-color: #009688;
  height: 200px;
  width: 100%;
}
#contenedorCentrado {
  align-items: start-flex;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 90%;
}
#contenedorCentrado img {
  width: 50%;
}
#tituloLogo {
  align-items: start-flex;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
}
#jugadorFoto {
  background: url("../imagenes/jugador/Iker_Stallin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  height: 55px;
  width: 12%;
}
#jugadorNombre {
  height: 70px;
  font-size: 1.3em;
  margin-left: 5px;
  width: 40%;
}
#menu {
  align-items: center;
  display: inline-flex;
  height: 70px;
  width: 50%;
}
#menu a:hover {
  align-items: center;
  display: inline-flex;
  height: 70px;
  text-decoration: none;
}
#menu .activo {
  align-items: center;
  background-color: #004d40;
  display: inline-flex;
  height: 70px;
  text-decoration: none;
}
#front-page-logo {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#articulos {
  height: 300px;
  margin-left: 10px;
  width: 40%;
}
#articulos:hover {
  height: 300px;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.row {
  display: inline-flex;
  justify-content: space-around;
}
#redesSociales {
  color: #e0f2f1;
}
.icon-block,
padding 0 15px,
.slider {
  height: 300px;
  width: 100%;
}
#slides {
  height: 300px;
  width: 100%;
}
#contedorJugador {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  height: 1000px;
  width: 100%;
}
#contenedorIzquierdo {
  display: inline-flex;
  flex-direction: column;
  height: 1000px;
  width: 80%;
}
#contenedorBusqueda {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 150px;
  margin: auto;
  top: -120px;
  position: relative;
  padding-top: 10px;
  width: 50%;
}
.busquedaQuiniela {
  background-color: #004d40;
}
#contenedorQuinielasInformacion {
  height: 850px;
  width: 100%;
}
#cargarQuinielas {
  display: inline-flex;
  flex-direction: column;
  height: 850px;
  width: 100%;
}
#filaUno {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  height: 45%;
  width: 100%;
}
#filaDos {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  height: 45%;
  width: 100%;
}
.card {
  height: 95%;
  width: 30%;
}
.card-title {
  color: #000;
}
#contenedorDerecho {
  border: 1px solid #f00;
  display: inline-flex;
  height: 1000px;
  width: 20%;
}
#separador {
  background-color: vinotintoFondo;
  clear: both;
  display: flex;
  height: 30px;
  width: 100%;
}
footer {
  background-color: #004d40;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.7), 0 4px 15px 0 rgba(0,0,0,0.7);
  color: #e0f2f1;
  height: 25px;
  width: 100%;
}
