@font-face {
  font-fsamily: "Roboto";
  src url("roboto/Roboto-Thin.woff2") format("woff2"),
  url("roboto/Roboto-Thin.woff") format("woff"),
  url("roboto/Roboto-Thin.ttf") format("truetype") {
    font-naranjaweight: 200;
  }
}
/*el selector * se usa para asignarle esas propiedades a todas las etiquetas que existen en la pagina web 0*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e0f2f1;
  color: #000;
/* el atributo font-family sirve para agregarle un tipo de fuente al la pagina web */
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-rendering: optimizeLegibility;
}
/*Menu Logo*/
#contenedorMenuTitulo {
  background-color: #009688;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  height: 70px;
  width: 100%;
}
#contenedorCentrado {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}
#contenedorCentrado img {
  width: 50%;
}
#tituloLogo {
  align-items: center;
  display: inline-flex;
  width: 40%;
}
#menu {
  align-items: center;
  display: inline-flex;
  width: 40%;
}
#menu a:hover {
  align-items: center;
  display: inline-flex;
  text-decoration: none;
}
#menu .activo {
  align-items: center;
  background-color: #004d40;
  display: inline-flex;
  height: 70px;
  text-decoration: none;
}
#front-page-logo {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#articulos {
  height: 300px;
  margin-left: 10px;
  width: 40%;
}
#articulos:hover {
  height: 300px;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 .row{
  display: inline-flex;
  justify-content: space-around;
}
 

#redesSociales {
  color: #e0f2f1;
}

 .textmostrar1{
  text-align: center;
  width: 200px;
  height: 20px;
}

.textmostrar2{
  text-align: center;
  width: 100px;
  height: 20px;
}
.row2{
  width: 850px;
  display: inline-block;
  text-align: center;
}



