<html><![CDATA[  ]]>
<!-- Inicio del pie de pagina -->
  
   <div class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">¡Ey! <i class="mdi-image-tag-faces"></i></h5>
          <p class="grey-text text-lighten-4">¿Crees que tienes las habilidades necesarias para pronosticar resultados de Torneos de Fútbol? ¿Te crees un verdadero conocedor de fútbol?</p>
	  <p class="grey-text text-lighten-4"></p> <p class="grey-text text-lighten-4">Invita a tus amigos a participar tu Quiniela y déjales claro quién es el verdadero campeón ¿Qué esperas? Ponle más emoción a la competición, y comienza a jugar</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text"><i class="mdi-social-group"></i> Síguenos</h5>
          <ul>
            <li><a id="redesSociales" href="#"><i class="fa fa-instagram fa-3x"></i></a>
                
            </li>
            <li><a id="redesSociales" href="#"><i class="fa fa-twitter fa-3x"></i></a>
                
            </li><li><a id="redesSociales" href="#"><i class="fa fa-facebook fa-3x"></i></a>
                
            </li>
          </ul>
        </div>
	 <div class="col l3 s12">
          <h5 class="white-text"><i class="mdi-image-photo-camera"></i> En nuestro Instagram </h5>
	  <ul>  
<iframe src="http://www.intagme.com/in/?u=cmVzdWx0YWRvc19kZV9mdXRib2x8c2x8MjIwfDJ8M3x8bm98NXx1bmRlZmluZWR8bm8=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:225px; height: 225px" ></iframe>
          </ul> 
	</div>
      </div>
    </div>
  </div>
<footer>
  © 2015 Laboratorio Dos | Powered by Materialize
</footer>


</html>